<section
  class="bg-secondary min-h-[calc(100vh-120px)] flex justify-center py-5"
>
  <div class="flex flex-col justify-center items-center gap-2">
    <h1 class="text-white text-[2rem] lg:text-[2.5rem] font-bold uppercase">
      about component
    </h1>

    <div class="flex w-full justify-center items-center gap-5 text-white mb-5">
      <hr class="w-[100px] border-2" />
      <i class="fa fa-star"></i>
      <hr class="w-[100px] border-2" />
    </div>
    <div
      class="container mx-auto flex flex-col md:flex-row gap-8 w-[75%] text-white"
    >
      <p class="w-full md:w-1/2">
        Freelancer is a free bootstrap theme created by Route. The download
        includes the complete source files including HTML, CSS, and JavaScript
        as well as optional SASS stylesheets for easy customization.
      </p>
      <p class="w-full md:w-1/2">
        Freelancer is a free bootstrap theme created by Route. The download
        includes the complete source files including HTML, CSS, and JavaScript
        as well as optional SASS stylesheets for easy customization.
      </p>
    </div>
  </div>
</section>
