<section
  class="bg-secondary min-h-[calc(100vh-120px)] flex justify-center py-5"
>
  <div class="flex flex-col justify-center items-center gap-2">
    <img src="/assets/images/avataaars.svg" alt="AVATAR image" class="w-1/2" />
    <h1 class="text-white text-[2rem] lg:text-[2.5rem] font-bold uppercase">
      start Framework
    </h1>
    <div class="flex w-full justify-center items-center gap-5 text-white mb-5">
      <hr class="w-1/6 border-2" />
      <i class="fa fa-star"></i>
      <hr class="w-1/6 border-2" />
    </div>
    <p class="text-white">Graphic Artist - Web Designer - Illustrator</p>
  </div>
</section>
